html
	head
		title="Title"
		link(rel="stylesheet", href="static/css/main.css")
		link(rel="stylesheet", href="static/css/dropzone.min.css")
		link(rel="stylesheet", href="static/css/filepicker.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")
	body
		div(id="app")
		script(src="static/bundle.js", type="text/javascript")