h1 {
	color: red;
}

.filepicker {
	background-color: white !important;
	border: 2px dashed #34A7D1 !important;
}

#document-proceed-button {
	width: 100%;
}

button:disabled,
button[disabled] {
	background-color: grey !important;
	border-color: grey !important;
}

#progress-message-container {
	text-align: center;
	color: #34A7D1;
}

.progress-bar {
	background-color: #34A7D1 !important;
	background-image: linear-gradient(to bottom,#34A7D1 0,#34A7D1 100%) !important;
}

#download-file-icon {
	font-size: 100px;
}

#download-link {
	display: none;
}